* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.main-container {
  width: 375px;
  height: 933px;
  margin-top: 10px;
  background-color: #c5e4e7;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.main-container img {
  margin-top: 2.5em;
}

.inside-container {
  background-color: #fff;
  width: 375px;
  height: 789px;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bill-input {
  display: flex;
  width: 100%;
  position: relative;
}

.bill-input input {
  width: 100%;
  font-size: 25px;
  background-color: #c5e4e7;
}

.bill-input img {
  width: 20px;
  position: absolute;
  top: 15px;
  left: 1rem;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
