* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  /* border: 1px solid blue; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5e4e7;
}

#main-logo {
  padding-top: 3.125em;
  width: 110%;
}

.main-container {
  background-color: #fff;
  width: 375px;
  height: 789px;
  border-radius: 25px;

  margin-top: 2.1875em;
}

.bill-container,
.select-tip-container,
.num-people-container,
.total-section-container {
  margin: 0 auto;
  width: 100%;
  padding: 1.5em 1.5em 1em 1.5em;
  /* border: 1px solid red; */
}

.bill-container label,
.select-tip-label,
.num-people-label {
  font-weight: 700;
  color: #5e7a7d;
  font-size: 1.125rem;
  margin-bottom: 0.5em;
}

/* Enter total amount for the bill */

.bill-input input {
  width: 100%;
  padding: 0.25em;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  text-align: right;
  font-weight: 700;
  font-size: 1.5rem;
  color: #00474b;
  background-color: #f3f9fa;
  background-image: url('/images/icon-dollar.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
}

/* Enter the number of People */
.people-input input {
  width: 100%;
  padding: 0.25em;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  text-align: right;
  font-weight: 700;
  font-size: 1.5rem;
  color: #00474b;
  background-color: #f3f9fa;
  background-image: url('/images/icon-person.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
}

.bill-input input::before,
.people-input input::before {
  content: '$';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.bill-input input::placeholder,
.people-input input::placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding-right: 20px; /* Adjust as needed */
  font-weight: 700;
  font-size: 1.5rem;
  color: #00474b;
}

/* Select Tip Section */
.tip-button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tip-button-container button {
  width: 47%;
  margin: 0.35em 0;
  padding: 0.25em;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.65rem;
  color: #fff;
  background-color: #00474b;
}

.tip-button-container button:hover {
  background-color: #26c2ae;
  color: #00474b;
}

/* Custom Button under Select Tip % */

#custom {
  background-color: #f3f9fa;
  color: #547878;
  text-align: right;
  padding-right: 15px;
}

#custom:hover {
  outline: 2px solid #26c2ae;
}

/* Total Section where Tip amount and total appear */

.total-section-container {
  background-color: #00474b;
  width: 87%;
  border-radius: 10px;
}

.tip-amt-container,
.total-amt-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid green; */
  margin: 15px 0;
}

.tip-amt,
.total-amt {
  color: #fff;
  font-size: 0.9rem;
}

.per-person {
  color: #7f9d9f;
  font-size: 0.75rem;
}

.display-tip,
.display-total {
  color: #26c2ae;
  font-size: 1.75rem;
  font-weight: 700;
}

/* Reset button */
.reset {
  background-color: #26c2ae;
  border: none;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  color: #00474b;
  padding: 10px;
  border-radius: 5px;
}

#reset:hover {
  background-color: #9fe8df;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
